*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum

internal/assets/dist/*
!internal/assets/dist/.gitkeep

node_modules/
coverage/

.env

*.md
!README.md
!DEVELOPMENT.md
!.github/**/*.md

speedybench
!cmd/speedybench
